<!--
/// FOOTER PAGE ///

///// want to add a sign up area for emails and a contact us and and about us and some sort of navigation. //

///have the footer background be darket than the rest of the page to seperate it. have it be the same color as the header nav bar at the top of the page.///

/// i want to be able to have the footer also have a way to link up to the beginning of the page //

-->
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer

<main role="main" class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">Sticky footer</h1>
    <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.</p>
    <p>Use <a href="/docs/4.4/examples/sticky-footer-navbar/">the sticky footer with a fixed navbar</a> if need be, too.</p>
  </div>
</main>
