<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        <link rel="stylesheet" href="/css/main.css">
      <title>Edit Products</title>
   </head>
   <body>
      <div>
         <nav id="nav-bar">
            <a id="nav-bar" class="pages" href="/home/">Home</a>
            <a id="nav-bar" class="pages" href="">About Us</a>
            <a id="nav-bar" class="pages" href="/products/">Baby Clothing</a>
            <a id="nav-bar" class="pages" href="">Essentials</a>

            <!-- <a id="nav-bar" class="pages" href="">Toddler/Kids Clothing</a> -->
         </nav>
      </div>
      <h1>Edit Products</h1>
      <form action="/products/<%=product.id%>?_method=PUT" method="POST">
         Name: <input type="text" name="name" value="<%=product.name%> "/><br/>
         Image: <input type="text" name="img" value="<%=product.img%>" /><br />
         Description: <input type="text" name="Description" value="<%=product.description%> "/><br/>
         <input type="submit" value="Submit Changes">
      </form>
      <nav class="navBottom">
         <a id="nav" href="/home">Home</a></br>
         <a id="nav" href="/products/new">Customize a Onsie</a><br/>
      </nav>
   </body>
</html>
