<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="UTF-8">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">        <link rel="stylesheet" href="/css/main.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Create a Product</title>
   </head>
   <body>
      <div>
         <nav id="nav-bar">
            <a id="nav-bar" class="pages" href="/home/">Home</a>
            <a id="nav-bar" class="pages" href="/aboutUs/">About Us</a>
            <a id="nav-bar" class="pages" href="/products/">Baby Clothing</a>
            <a id="nav-bar" class="pages" href="">Essentials</a>
            <!-- <a id="nav-bar" class="pages" href="">Toddler/Kids Clothing</a> -->

         </nav>
      </div>
       <h1>Customize Your Own</h1>
    </br>
       <form action="/products" method="POST">
          <fieldset class="item-info">

             <label for="name">Name</label>
             <input type="text" name="name" placeholder="my Onsie name"/></br>

             <label for="description">Description</label>
             <input type="text" name="description" placeholder="Size, color, ."/></br>

             <label for="img">Image</label>
             <input type="text" name="img" placeholder="Image URL (preferred)"/></br>

             <label for="price">Price</label>
             <input type="text" name="price" placeholder="$"/></br>

             <label for="quantity">Quantity</label>
             <input type="text" name="quantity" placeholder="# of items in inventory"/></br>
          </br>
             <input id="buyButton" type="submit" value="Submit Customization Request">
         </fieldset>
       </form>
      </br>
      </br>

       <nav class="navBottom">
          <a id="nav" href="/home">Home</a></br>
       </nav>
   </body>
</html>
<!-- customize your own!  -->
